<a href="https://colab.research.google.com/github/ricedavis/CSCE580-Fall2025/blob/main/finals/code/analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import json
import glob
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('attendance_master.csv')

In [9]:
data.groupby("class").size()

class
1     44
2     49
3     45
4     30
5     40
6     40
7     42
8     34
9     33
10    31
11    39
12    35
13    33
14    29
15    45
16    28
17    28
18    33
19    32
20    25
21    22
22    27
24    41
25    19
26    34
27    14
dtype: int64

Manually counting class size: Randomly select 5 classes, manually count students and compare to GPT results:

Class 4 - Actual Count: 30,
          GPT results: 30

Class 7 - Actual Count: 42,
          GPT results: 42

Class 10 - Actual Count: 31,
          GPT results: 31

Class 22 - Actual Count: 27,
          GPT results: 27

Class 25 - Actual Count: 19,
          GPT results: 19

Accuracy from sample = 100%

# a) Number of classes and their dates

In [13]:
# Count number of unique classes
num_classes = data["class"].nunique()

# Get class-date pairs
class_dates = data[["class", "date"]].drop_duplicates().sort_values("class")
num_classes, class_dates

(26,
      class         date
 553      1  19 Aug 2025
 476      2  21 Aug 2025
 265      3  26 Aug 2025
 160      4  28 Aug 2025
 52       5   2 Sep 2025
 767      6   4 Sep 2025
 725      7   9 Sep 2025
 231      8  11 Sep 2025
 0        9  16 Sep 2025
 807     10  18 Sep 2025
 686     11  28 Sep 2025
 125     12  25 Sep 2025
 92      13  30 Sep 2025
 447     14   2 Oct 2025
 310     15   7 Oct 2025
 644     16  14 Oct 2025
 525     17  16 Oct 2025
 414     18  21 Oct 2025
 355     19  23 Oct 2025
 619     20  28 Oct 2025
 597     21   2025-10-30
 387     22  Nov 4, 2025
 190     24   2025-11-11
 33      25  13 Nov 2025
 838     26  18 Nov 2025
 672     27  20 Nov 2025)

# b) Median Class attendance per class

In [22]:
attendance_per_class = data.groupby(["class", "date"]).size().reset_index(name="attendance")

print("Median attendance for all classes: ", attendance_per_class['attendance'].median(), "students")

Median attendance for all classes:  33.0 students

# c) Dates with lowest and highest attendance

In [31]:
min_att = attendance_per_class["attendance"].min()
max_att = attendance_per_class["attendance"].max()

lowest = attendance_per_class[attendance_per_class["attendance"] == min_att]
highest = attendance_per_class[attendance_per_class["attendance"] == max_att]

print('Lowest attendance:')
print(lowest)
print('Highest attendance:')
print(highest)

Lowest attendance:
    class         date  attendance
25     27  20 Nov 2025          14
Highest attendance:
   class         date  attendance
1      2  21 Aug 2025          49

# d) Correlation With Course Evaluations & When Attendance Is Highest

In [32]:
evaluation_classes = [15, 24, 26]  # course evaluation dates (class 15, 24 and 26)

attendance_per_class["is_evaluation"] = attendance_per_class["class"].isin(evaluation_classes).astype(int)

In [33]:
eval_avg = attendance_per_class[attendance_per_class["is_evaluation"] == 1]["attendance"].mean()
non_eval_avg = attendance_per_class[attendance_per_class["is_evaluation"] == 0]["attendance"].mean()

correlation = attendance_per_class["attendance"].corr(attendance_per_class["is_evaluation"])

eval_avg, non_eval_avg, correlation

(np.float64(40.0),
 np.float64(32.69565217391305),
 np.float64(0.28043188608201836))